.navbar {
    margin-bottom: 0;
    --font-size: 20px;
}

.jumbotron {
    height: 1000px;
    background-image: url(../img/home.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

 #map {
    height: 10%;
    width: 10%; 
}