body {
    font-family: 'Montserrat', sans-serif;
}

.googlemap {
    height: 70%;
    width: 70%;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    padding-top: 7px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

#logo {
    width: 50px;
    padding-right: 10px;
}

.navbar-inverse {
	background: #2E2F31;
	border: 0;
}

.navbar-inverse .navbar-nav li a {
	color: #a6a6a6;
    --padding-left: 30px;
    --padding-right: 30px;
	font-size: 20px;
}
.navbar-inverse .navbar-nav li a:hover {
	color: #f7f7f7;
}

.navbar-nav li::before {
    content: '|';
    font-size: 18px;
    float: inherit;
    margin-top: 12px;
    color: #f7f7f7;
}

.navbar-nav li:first-child::before {
    content: '';
}

.jumbotron {
    height: 950px;
    background-image: url(../img/home2.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.input-group-xlg, .input-xlg, .btn-xlg {
    height: 70px;
    font-size: 32px;
}

.btn-xlg {
    width: 70px;
}

.vcenter {
    margin-top: 25%;
    margin-bottom: 25%;
}

.campsearch {
  height: 100%;
  margin: 0;
  padding: 0;
}
