/***
    GENERAL STYLING
***/
body {
    font-family: 'Raleway', sans-serif;
}

.navbar {
    height: 70px;
    margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
    padding-top: 7px;
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
}

#logo {
    width: 64px;
    padding-right: 10px;
}

.navbar-inverse {
	background: #2E2F31;
	border: 0;
}

.navbar-inverse .navbar-nav li a {
	color: #a6a6a6;
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 16px;
	font-size: 24px;
}
.navbar-inverse .navbar-nav li a:hover {
	color: #f7f7f7;
}

.navbar-nav li::before {
    content: '|';
    font-size: 22px;
    float: inherit;
    padding-top: 18px;
    color: #a6a6a6;
}

.navbar-nav li:first-child::before {
    content: '';
}

/***
    HOMEPAGE STYLING
***/
html#home-page {
        overflow-y: hidden;
}

.jumbotron#home-main {
    height: 100vh;
    background-image: url(../img/home2.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.input-group-xlg, .input-xlg, .btn-xlg {
    height: 70px;
    font-size: 32px;
}

.nearby-icon {
    padding-bottom: 7px;
    width: 41px;
}

.btn-xlg-magnify {
    width: 70px;
}

.vcenter {
    margin-top: 15%;
}

.colorless-link, .colorless-link:hover, .colorless-link:visited, .colorless-link:active {
    color: inherit;
    text-decoration: none;
}

h1#discover {
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
}


/***
    CAMPSITE SEARCH STYLING
***/
#campsearch-body {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#map-options {
    height: 88vh;
    overflow: hidden;
    border: 2px solid #000;
    overflow-y: auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.nearby-icon-sml {
    padding-bottom: 9px;
    width: 22px;
}

#map {
    background-color: #000;
    height: 88vh;
    border: 8px solid;
}

#campsites-list {
    padding-top: 1.5em;
}

#campsites-list, #campsites-list ul {
    padding-left: 0;
}

#campsites-list ul li {
    padding-top: 0;
    list-style-type: none;
}

.campsite-img-container {
    padding-top: 2em;
}

/***
    CAMPSITE INFO STYLING
***/

.jumbotron#info-main {
    height: 40vh;
    position: relative;
}

#info-bg {
    height: 100%;
    width: 100%;
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1px solid #000;
}

#info-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

#campsite-body {
    width: 70vw;
}

.slider {
    text-align: center;
    border: 3px solid #000;
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
}

.slide-img {
    height: 64vh;
    text-align: center;
}

.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
}

.stars-container:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: lightgray;
}

.stars-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: grey;
  overflow: hidden;
}

.stars-0:after { width: 0%; }
.stars-10:after { width: 10%; }
.stars-20:after { width: 20%; }
.stars-30:after { width: 30%; }
.stars-40:after { width: 40%; }
.stars-50:after { width: 50%; }
.stars-60:after { width: 60%; }
.stars-70:after { width: 70%; }
.stars-80:after { width: 80%; }
.stars-90:after { width: 90%; }
.stars-100:after { width: 100; }

/*
Weather Table
*/
.table-condensed{
    float: right;
    margin-top: 30px;
    /*right change to 17 if align with picture above*/
    margin-right: 2vw;
    /*width: 0%;*/
}
.table-condensed ,th, td {
    border: 1px solid black;
    text-align: center;
}

/*
    ???
*/
.col-sm-1half, .col-sm-8half, .col-sm-longer, .bottom-right, .whole_row, .leftmost {
    position: relative;
    min-height: 1px;
}

@media (min-width: 768px) {

    .col-sm-1half {
        width: 2%;
    }
    .col-sm-8half {
        width: 70.83333333%;
    }

    .col-sm-longer {
        width: 31.3%
    }

    .bottom-right {
        width: 50%
    }

    .whole_row {
        width: 77%
    }

    .leftmost {
        width: 11%
    }

}
#
